<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>HOME</title>
  </head>
  <body>
    <div class="container-fluid mt-4">
      <ul class="nav nav-pills mb-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            >Courses</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/create-course">Create Courses</a>
            </li>
            <li>
              <a class="dropdown-item" href="/list-courses">My List Courses</a>
            </li>
            <li>
              <a class="dropdown-item" href="/Bin">
                Bin (<% if(listCourseDelete.length === 0){ %> 0 <% } else{ %>
                <%= listCourseDelete.length %> <% } %>)
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <% if(listCourses.length === 0){ %> Yourlist courses empty
      <a href="/create-course">Go To Create Coures</a> <% } else{ %>
      <a href="/create-course">Go To Create Coures</a>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">check</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <% listCourses.forEach(function(course) { %>
          <tr>
            <th scope="row"><input type="checkbox" name="" id="" /></th>
            <td><%= course.id %></td>
            <td>
              <a
                href="/detail-course/<%= course.slug %>"
                class="text-decoration-none text-white"
                ><%= course.name %></a
              >
            </td>
            <td><%= course.description %></td>
            <td>
              <button>
                <a href="/edit-course/<%= course.slug %>">Edit</a>
              </button>
              <button>
                <a href="/delete-course/<%= course.slug %>">Delete</a>
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
